{% extends "newtest/base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block head %}
<title>Hello!</title>
{% endblock %}
{% block body %}
  {% if patient_list %}
    <div class="row">
      <p>Hi {{ username }}, {{ patient_list|length }} patients with birthdays today.</p>
     </div><div class="row">
      <table class="table table-condensed" >
      <tr><th>Patient</th><th>Doctor</th><th>Birthday</th></tr>
      {% for patient in patient_list %}
	<tr>
	  <td>{{ patient.first_name }} {{ patient.last_name }}</td><td>{{ patient.doctor }}</td><td>{{ patient.date_of_birth }}</td>
	</tr>
      {% endfor %}
      </table>
      </div>
  {% else %}
      <div class="row">
	<p>No patient list available for {{ username }}.</p>
      </div>
  {% endif %}
{% endblock %}