{% extends "newtest/base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block head %}
<title>Manage Data</title>
{% endblock %}
{% block body %}
    <div class="row bottom-buffer">
      <a href="{% url 'greetings:home' %}"  class="btn btn-default">Return to front page</a>
    </div>
    <div class="row">
    <p>
    </p>
    </div>
    <div class="row">
    <p>The text of the patient greetings can be customized below. There are four patterns that will be replaced with patient information, 
      <mark>{% templatetag openvariable %}Name{% templatetag closevariable %}</mark>,
      <mark>{% templatetag openvariable %}FirstName{% templatetag closevariable %}</mark>,
      <mark>{% templatetag openvariable %}LastName{% templatetag closevariable %}</mark> and 
      <mark>{% templatetag openvariable %}Doctor{% templatetag closevariable %}</mark>. 
      Each pattern can be used as many times as desired.
    </p>
    </div>
    <div class="row">
    <form action="{% url 'greetings:settings' %}" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form email_templates %}
      {% buttons %}
	<button type="submit" class="btn btn-default">Save Changes</button>
      {% endbuttons %}
    </form>
    </div>
    <div class="row bottom-buffer">
    <p>The information used to access Dr Chrono will be deleted, along with any customizations that have been done to templates.</p>
    <a href="{% url 'greetings:delete' %}"  class="btn btn-default">Delete all information</a>
    </div>
{% endblock %}