{% extends "greetings/base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block head %}
<title>Confirm Accound Deletion</title>
{% endblock %}
{% block body %}
  <div class="row">
  <p>Are you certain you want to delete your account? The information used to
  access Dr Chrono will be deleted, along with any customizations that have
  been done to the message templates.</p>
  </div>
  <form action="{% url 'greetings:delete' %}" method="post" class="form">
    {% csrf_token %}
    {% buttons %}
      <a href="{% url 'greetings:settings' %}"  class="btn btn-default">Return to Settings</a>
      <button type="submit" class="btn btn-primary">Confirm Delete</button>
    {% endbuttons %}
  </form>
{% endblock %}