{% extends "greetings/base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block head %}
<title>Hello!</title>
{% endblock %}
{% block body %}
  <div class="row">
    <p>Welcome to Greetings! Use Greetings to email a happy birthday message to patients in your drchrono practice.</p>
    <p>To get started using Greetings, click authorize below. You will be sent to the drchrono site to authorize Greetings 
    to read your drchrono profile and patient summary information. The profile is used to create a user name, and the patient summary is used
    to access the patient name, email and doctor.</p>
    <p>The default message is a simple happy birthday message, with the patients name and primary doctor inserted:</p>
    <pre>Subject: Happy Birthday!
--
Happy Birthday Mike Stevens!, from Doctor Smith.</pre>
    <p>The content of the message can be customized, with simple access to the patients full name and also first or last name.
    The messages can be paused at any time.</p>
  </div>
  <div class="row">
    <a class="btn btn-default" href="{% url 'greetings:register' %}" >Authorize with drchrono</a>
  </div>
{% endblock %}