{% extends "greetings/base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block head %}
<title>Hello!</title>
{% endblock %}
{% block body %}
  <div class="row">
    <p>Welcome to Greetings! Use Greetings to email a happy birthday message to patients in your Dr Chrono practice.</p>
    <p>To get started using Greetings, click authorize below. You will be sent to the Dr Chrono site to authorize Greetings 
    to read your Dr Chrono profile and patient summary information. The profile is used to create a user name, and the patient summary is used
    to access the patient name, email and doctor.</p>
    <p>The default message is a simple happy birthday message, customized with the patients name and primary doctor:</p>
    <pre>
    </pre>
    <p>The content of the email can be customized and message sending can be disabled at any time.</p>
  </div>
  <div class="row">
    <a class="btn btn-default" href="{% url 'greetings:register' %}" >Authorize with Dr Chrono</a>
  </div>
{% endblock %}